@import "../scss/variaveis";

header{


    .container{

        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .logo{

            img{

                align-self: flex-start;
                width: 100%;
                max-width: 180px;
            }
        }

        .back{

            a{
                
                i{

                    font-size: $icone;
                    color: $azulBtn;
                }
            }
        }
    }
}

main{

    .container{
        text-align: center;
        
        .msg{
            padding: 15px;
            font-size: $label;
            color: $branco;
            font-weight: bold;
            background-color: $verde;
        }
        
        
    }
}

footer{
    
    position: absolute;
    bottom: 0;
    background-color: $cinza;


    .container{
        
        
        padding: 20px 50px;
        font-size: $label;
        font-weight: bold;
        text-align: center;
    }
}