/*cores*/
$branco: #ffffff;
$preto: #000000;
$roxo:#5125AD;
$verde: #2E7D32;
$vermelho: #B71C1C;
$cinza:#E5E5E5;

/*Botões*/
$azulBtn:#1565C0;
$cinzaBtn: #E0E0E0;

/* Fontes */

$title:25px; 
$label: 20px;
$acessoRapido: 30px;
$btn: 16px;
$input: 16px
